.speakers {
	height: 433px;
	display: flex;
	flex-direction: column;
	gap: 39px;
	padding: 54px 43px;
	border-radius: 29px;
	background-color: var(--primary-color);
}

.speakers h3 {
	width: 103px;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
}

.speakers__image {
	position: relative;
	width: 99px;
	height: 99px;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
}

.speakers__image:not(:first-child) {
	margin-top: -30px;
	z-index: 2;
}
.speakers__image:last-child {
	z-index: 3;
}
